--extra-index-url https://download.pytorch.org/whl/cpu
langchain
langchain-openai
pandas
numpy
python-dotenv
PyPDF2
python-docx
jieba
scikit-learn
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
openai-whisper==20230314
